*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
/volley
/gradle
/.idea
.gitignore
settings.gradle
gradlew.bat
gradlew
build.gradle
gradle.properties
app/build
app/.gitignore
app/build.gradle
app/proguard-rules.pro
app/src/test
app/src/androidTest